<div id="singleview_page_wrapper" class="section-wrapper">
    <!-- here for singleview_page -->
    <div id="results" style="max-height: 100%; display: flex !important; flex-direction: column;">
        <div class="document-controls" >
                <h2 class="h4 mb-3">Document Analysis</h2>
                <div class="legend" id="rsidLegend"></div>
            </div>
        
        
        
        <div class="container" style=" flex: 1; min-width: 0; max-width: 800px; width: 70%; overflow-y:scroll; border-radius: 12px">
            

            <div class="row" style="height: 100%; margin-right: 0px !important; margin-left: 0px !important;">
                <div class="col reconstructed-document" id="reconstructedDocument" style="height: 100%; "></div>
            </div>
        </div>

    </div>
    <!-- here for singleview_page end -->
</div>