
<div id="results" style="max-height: 98vh;">
    <div class="document-controls">
            <h2 class="h4 mb-3">Document Analysis</h2>
            <div class="legend" id="rsidLegend"></div>
        </div>
    
    
    
    <div class="container" style="aspect-ratio: 210 / 297; width: auto; height: 100%; overflow-y: auto;">
        

        <div class="row" style="height: 100%; margin-right: 0px !important; margin-left: 0px !important;">
            <div class="col reconstructed-document" id="reconstructedDocument" style="height: 100%; overflow-y: scroll;"></div>
        </div>
    </div>

</div>